:root {
  /* Brand Colors */
  --color-brand-primary: #4D5AE5;
  --color-brand-hover: #404BBF;

  /* Base Colors */
  --color-base-dark: #434455;
  --color-base-light: #F4F4FD;
  --color-border: #E7E9FC;

  /* Text Colors */
  --color-text-primary: #2E2F42;
  --color-text-secondary: #fff;
  --color-text-hover: #404BBF;

  /* Background Colors */
  --background-order-button: var(--color-brand-primary);
  --background-order-button-hover: var(--color-brand-hover);
  --background-white: var(--color-base-light);
  --background-footer-social-hover: #31d0aa;

  /* Transitions */
  --transition-base: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-base-dark);
  background: #fff;
  letter-spacing: 0.02em;
}

img {
  display: block;
  width: 100%;
}

a {
  color: var(--color-base-dark);
  text-decoration: none;
  transition: color var(--transition-base);
}

a:visited:not(.logo),
a:focus:not(.logo) {
  color: var(--color-base-dark);
}

a:hover:not(.logo),
a:focus:not(.logo) {
  color: var(--color-text-hover);
}

button {
  cursor: pointer;
  border: 0;
}

button:focus {
  background-color: var(--background-order-button-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-text-primary);
  font-weight: 700;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
}

.address {
  font-style: normal;
}

.c-nav {
  color: var(--color-text-primary);
}

.benefits-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--background-white);
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.links-padding {
  padding: 24px 0;
}

.nav-link {
  font-weight: 500;
}

.nav-link:visited.active,
.nav-link.active {
  color: var(--color-text-hover);
  position: relative;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--color-text-hover);
  border-radius: 2px;
}

.unstyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.text-c {
  text-align: center;
}

.logo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin-right: 76px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-brand-primary);
}

.flex {
  display: flex;
}

.f-center {
  align-items: center;
}

.f-space {
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-text-c {
  justify-content: center;
}

.f-base {
  align-items: baseline;
}

.order-section-wrapper {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/order-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
  max-width: 1440px;
}

.page-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--color-text-secondary);
  margin: 0 auto 48px;
  max-width: 496px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  margin: 0 0 72px;
  text-transform: capitalize;
}

.subsection-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 8px;
  text-transform: capitalize;
}

.footer-title {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 16px;
  letter-spacing: 0.02em;
  color: var(--color-text-secondary);
  font-weight: 500;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.button {
  background: var(--background-order-button);
  color: var(--color-text-secondary);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: auto;
  transition: background-color var(--transition-base);
}
.large{
  min-width: 169px;
  display: block;
  height: 56px;
  padding: 16px 32px;
}

.middle{
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
}

.button:hover {
  background-color: var(--background-order-button-hover);
}

.section-padding {
  padding: 120px 0;
}

.benefits-section-wrapper .subsection-title {
  margin: 0 0 8px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.large-gap {
  gap: 40px;
}

.gap {
  gap: 24px;
}

.small-gap {
  gap: 16px;
}

.team-section-wrapper {
  background: var(--background-white);
}

.team-member-in {
  padding: 32px 0;
}

.team-member {
  background: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--background-order-button);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-base);
}

.soc-icon {
  fill: var(--color-base-light);
}

.soc-link:focus,
.soc-link:hover {
  background-color: var(--color-text-hover);
}

.team-picture {
  border-radius: 4px 4px 0 0;
}

.portfolio-section-wrapper .flex {
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow var(--transition-base);
}

.portfolio-item:hover .portfolio-picture-p {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-picture-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.portfolio-picture-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-base-light);
  padding: 40px 32px;
  background-color: var(--background-order-button);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-base);
}

.portfolio-item-in {
  border: 1px solid var(--color-border);
  padding: 32px 16px;
  border-top: none;
}

.footer {
  background: var(--color-text-primary);
  color: var(--color-base-light);
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-dexcription {
  max-width: 264px;
}

.footer .c-nav {
  color: var(--color-text-secondary);
}

.footer .soc-link:focus,
.footer .soc-link:hover {
  background-color: var(--background-footer-social-hover);
}

.logo-wrapper {
  margin-right: 120px;
}

.subscribe-wrapper{
  margin-left: 80px;
}

.subscribe-input {
  border: 1px solid currentColor;
  background: transparent;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  color: var(--color-text-secondary);
  line-height: 24px;
  font-size: 12px;
  letter-spacing: 0.04em;
  width: 264px;
  border-radius: 4px;
}

.subscribe-input::placeholder {
  color: var(--color-text-secondary);

}
.subscribe-input:focus {
  outline: none;
  border: 1px solid var(--color-text-secondary);
}

.subscribe-icon{
  margin-left: 16px;
}
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-base), visibility var(--transition-base);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FCFCFC;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  max-width: 408px;
  min-height: 584px;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform var(--transition-base);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-text-primary);
}

.modal-close {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-border);
  border-radius: 50%;
  transition: background-color var(--transition-base), border var(--transition-base);
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
}
.close-icon{
  transition: fill var(--transition-base);
}

.modal-close:focus,
.modal-close:hover{
  background-color: var(--color-brand-hover);
  border: none;
}

.modal-close:focus .close-icon,
.modal-close:hover .close-icon{
  fill: var(--color-text-secondary);
}

.modal-form-label{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  display: block;
  margin-bottom: 4px;
  color: #8E8F99;
}

.modal-form-input-wrapper{
  margin: 0 0 8px;
  position: relative;
}

.modal-form-icon{
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill var(--transition-base);
}

.modal-form-input{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px 8px 38px;
  background-color: transparent;
  transition: border-color var(--transition-base);
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--color-brand-primary);
}
.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--color-brand-primary);
}

.text-area-wrapper{
  margin-bottom: 16px;
}

.modal-form-textarea{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color var(--transition-base);
}

.modal-form-privacy{
  margin: 8px 0 24px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  stop-color: #8E8F99;
  display: flex;
}

.modal-form-privacy .privacy-link {
  text-decoration: underline;
  color: var(--color-brand-primary);
  margin-left: 8px;
}
.checkbox+.label {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.checkbox+.label::before {
  content: '';
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border-width: 1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
}
.checkbox:checked+.label::before {
  border-color: var(--color-brand-primary);
  background-color: var(--color-brand-primary);
  background-position: center;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8'%3E%3Cuse href='./images/icons.svg%23icon-checkbox'%3E%3C/use%3E%3C/svg%3E"); */
}
