:root {
  /* Colors */
  --color-brand: #4D5AE5;
  --color-base: #434455;
  --color-base-hover: #404BBF;
  --color-primary: #2E2F42;
  --color-base-footer: #f4f4fd;
  --color-border: #E7E9FC;
/* Background */
  --background-order-button: #4D5AE5;
  --background-order-button-hover: #404BBF;
  --color-order-button: #fff;
  --background-team: #F4F4FD;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-base);
  background: #fff;
  letter-spacing: 0.02em;
}

img {
  display: block;
  width: 100%;
}

a {
  color: var(--color-base);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:visited:not(.logo),
a:focus:not(.logo) {
  color: var(--color-base);
}

a:hover:not(.logo),
a:focus:not(.logo) {
  color: var(--color-base-hover);
}

button {
  cursor: pointer;
  border: 0
}

button:focus {
  background-color: var(--background-order-button-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-primary);
  font-weight: 700;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
}

.address {
  font-style: normal;
}

.c-nav {
  color: var(--color-primary);
}

.benefits-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.links-padding {
  padding: 24px 0;
}

.nav-link {
  font-weight: 500;
}

.nav-link:visited.active,
.nav-link.active{
  color: var(--color-base-hover);
  position: relative;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--color-base-hover);
  border-radius: 2px;
}

.unstyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.text-c {
  text-align: center;
}

.logo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin-right: 76px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-brand);
}

.flex {
  display: flex;
}

.f-center {
  align-items: center;
}

.f-space {
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-text-c {
  justify-content: center;
}

.order-section-wrapper {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/order-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
  max-width: 1440px;
}

.page-title {
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  margin: 0 auto 48px;
  max-width: 496px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  margin: 0 0 72px;
  text-transform: capitalize;
}

.subsection-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 8px;
  text-transform: capitalize;
}

.footer-soc-title {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 16px;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 500;
}

.visually-hidden{
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.order-button {
  background: var(--background-order-button);
  color: var(--color-order-button);
  padding: 16px 32px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  display: block;
  height: 56px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
  background-color: var(--background-order-button-hover);
}

.section-padding {
  padding: 120px 0;
}

.benefits-section-wrapper .subsection-title {
  margin: 0 0 8px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.large-gap{
  gap: 40px;
}

.gap{
  gap: 24px;
}

.small-gap{
  gap: 16px;
}

.team-section-wrapper {
  background: var(--background-team);
}

.team-member-in{
  padding: 32px 0
}

.team-member {
  background: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: backgound-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon{
  fill: #f4f4fd;
}

.soc-link:focus,
.soc-link:hover {
  background-color: var(--color-base-hover);
}

.team-picture {
  border-radius: 4px 4px 0 0;
}

.portfolio-section-wrapper .flex {
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-picture-p {
  transform: translateY(0%);
}

.portfolio-picture-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.portfolio-picture-p{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-base-footer);
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-in {
  border: 1px solid var(--color-border);
  padding: 32px 16px;
  border-top: none;
}

.footer {
  background: var(--color-primary);
  color: var(--color-base-footer);
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-dexcription {
  max-width: 264px;
}

.footer .c-nav {
  color: var(--color-base-footer);
}

.logo-wrapper {
  margin-right: 120px;
}